@font-face {
    font-family: 'geforce';
    src: url(./geforce.ttf);
}


body {
    margin: 0;
    background-color: antiquewhite;
    font-family: 'geforce';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: brown;
    margin: 0;
    padding: 0;
}





/* ---------------------------------VIDEO---------------------------------  */
.video-section {

}

.video-container {
    width: 100%;
    height: 1000px;
    background-color: rgba(109, 224, 81, 0.575);
    position: relative;
    overflow: hidden;
}

.video-itself {
    position: absolute;
    top: 10%;
    right: -30%;

}

/* .text-overlay {
    position: absolute;
    left: 10%;
    top: 40px;
} */



/* ---------------------------------HEADINGS---------------------------------  */

.container {
    background-color: aqua;
    margin: 0;
    padding: 0;
    height: 300px;
}


