@font-face {
    font-family: 'geforce';
    src: url(./geforce.ttf);
}


body {
    margin: 0;
    background-color: antiquewhite;
    font-family: 'geforce';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #FFFFFF;
    margin: 20px 0 0;
    padding: 0;
}



/*------------------- VIDEO SECTION -------------------*/

#video-section .video-container {
    width: 100%;
    height: 800px;
    background-color: rgba(109, 224, 81, 0.575);
    position: relative;
    overflow: hidden;
}

#video-section .video-container .video-itself {
    position: absolute;
    right: -30%;

}

#video-section .video-container .heading-container {
    position: relative;
    top: 15%;
    width: 100vw;
}


/*------------------- AFTER VIDEO SECTION -------------------*/

#after-video {
    padding: 80px 0 70px 0;
}

#after-video h1, h3 {
    color: #000000;
}


/*------------------- COMPUTERS SECTION -------------------*/

#computers .computers-container {
    text-align: center;
    width: 100%;
    overflow: hidden;
}

#computers .computers-container img {
    width: 110%;
    position: relative;
    right: 8%;
}

/*------------------- AFTER IMAGE SECTION -------------------*/

#after-image {
    background-color: #FFFFFF;
    padding: 80px 0 70px 0;
}

#after-image .container h1 {
    color: black;
    margin-bottom: 25px;
}

.button-green {
    background-color: #76B900;
    border: none;
    color: #FFFFFF;
    font-size: 20px;
    margin: 20px auto 30px;
    padding: 10px 15px;
    width: auto;
}


/*------------------- PARADISE SECTION -------------------*/

.paradise-container {
    position: relative;
    /* position relative for .paradise-text */
    background-color: black;
    width: 100%;
}

.paradise-image {
    /* position: relative;
    right: 2%; */
    width: 100%;
    height: auto;
}

.paradise-text {
    color: #FFFFFF;
    position: absolute;
    left: 10%;
    top: 10%;
    width: 40%;
}


@media screen and (max-width: 900px) {

    .paradise-container {
        position: static;
        background-color: #FFFFFF;
        width: 100%;
    }

    .paradise-text {
        text-align: center;
        display: block;
        color: #000000;
        position: static;
        margin: 0 auto;
        width: 70%;
    }
}


/*------------------- THURSDAY SECTION -------------------*/
#thursday-section {
    background-color: #000000;
}

#thursday-section .thursday-heading {
    padding-top: 110px;
}

#thursday-section .thursday-heading h1 {
    margin: 0 auto 30px auto;
    width: 400px;
}

.thursday-image {
    width: 100%;
}

.card {
    background-color: #000000;
    min-height: 550px;
    margin: 40px 0 40px 0;
}


#thursday-section h4 {
    color: #76B900;
}

#thursday-section .thursday-date {
    margin: 20px 0;
    color: rgb(148, 148, 148);
    font-size: 14px;
}

#thursday-section .thursday-text {
    color: #FFFFFF;
}

#thursday-section a {
    color: #76B900;
    text-decoration: none;
}



/*------------------- PLATFORM SECTION -------------------*/

#platform-section {
    background-color: black;
    padding: 60px 0;
}

#platform-section .container .row .col img {
    margin: 50px 0 0 0;
    width: 100px;
}

/* !!!BOOTSTRAP 8 columns on XL screen REPAIR!!! */

@media (min-width: 1200px) {
    .row-cols-xl-8 > * {
      -ms-flex: 0 0 12.5%;
      flex: 0 0 12.5%;
      max-width: 12.5%;
    }

}